[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/tsuquyomi"]
	path = bundle/tsuquyomi
    url = https://github.com/Quramy/tsuquyomi.git
    ignore = dirty
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "config/amix_vimrc"]
	path = config/amix_vimrc
	url = https://github.com/amix/vimrc.git
